
.um{
    grid-column: 5;
}

.um, .dois, .tres, .quatro{
    background: #000;
    color: rgba(255, 255, 255, 0.089)
}


/* -- COMEÇO DO MEU GRID -- */
.atual1{
    grid-column: 5;
}.atual2{
    grid-column: 1;
}.atual3{
    grid-column: 4;
}.atual4{
    grid-column: 6;
}.atual5{
    grid-column: 2;
}.atual6{
    grid-column: 4;
}.atual7{
    grid-column: 7;
}.atual8{
    grid-column: 3;
}.atual9{
    grid-column: 3;
}.atual10{
    grid-column: 6;
}.atual11{
    grid-column: 1;
}.atual12{
    grid-column: 4;
}

/* -- DISPLA NONE 31 -- */
.dN3, .dN5, .dN8, .dN10, .dN12{
    display: none;
}

/* -- CORES DE MARCAÇÃO -- */
.dc1 /*sala everaldo*/{
    background: #0050e6;
}.dc2 /*sala costa Gisele*/{
    background: #60a1f7;
}.dc3 /*sala 1 corredor*/{
    background: #02ec50;
}.dc4 /*sala 2 corredor*/{
    background: #6cc261;
}
    
/* -- TESTE descrição da atividade -- */

.a1 > :nth-child(1):hover .diasAtuais:nth-child(1){
    background: #fff;
}