/*começo do meu grid "Mes atual"*/
.um{
    grid-column: 1;
}

:root{
    --sala-1-color:#0050e6;
    --sala-2-color:#60a1f7;
    --sala-4-color:#02ec50;
    --sala-3-color:#6cc261;
    --back--fundo:#ffffff17;
}

.um, .dois, .tres, .quatro, .cinco, .seis, .sete, .oito{
    background: #000;
    color: var(--back--fundo);
}
.dez, .dezessete{
    background:  #02ec50;
}