
/* -- mes 1 -- */
.show-at1_1 .a1x1{
    background: #0050e6;
}.show-at1_2 .a1x2{
    background: #60a1f7;
}.show-at1_3 .a1x3{
    background: #02ec50;
}.show-at1_4 .a1x4{
    background: #6cc261;
}
.a1_1, .at1_2, .a1_3, .at1_4{
    display: none;
}

/* -- mes 2 -- */
.show-at2_1 .a2x1{
    background: #0050e6;
}.show-at2_2 .a2x2{
    background: #60a1f7;
}.show-at2_3 .a2x3{
    background: #02ec50;
}.show-at2_4 .a2x4{
    background: #6cc261;
}
.at2_1, .at2_2, .at2_4{
    display: none;
}

/* -- mes 3 -- */
.show-at3_1 .a3x1{
    background: #0050e6;
}.show-at3_2 .a3x2{
    background: #60a1f7;
}.show-at3_3 .a3x3{
    background: #02ec50;
}.show-at3_4 .a3x4{
    background: #6cc261;
}
.at3_1, .at3_2, .at3_4 {
    display: none;
}

/* -- mes 4 -- */
.show-at4_1 .a4x1{
    background: #0050e6;
}.show-at4_2 .a4x2{
    background: #60a1f7;
}.show-at4_3 .a4x3{
    background: #02ec50;
}.show-at4_4 .a4x4{
    background: #6cc261;
}
.at4_1, .at4_2, .at4_4 {
    display: none;
}

/* -- mes 5 -- */
.show-at5_1 .a5x1{
    background: #0050e6;
}.show-at5_2 .a5x2{
    background: #60a1f7;
}.show-at5_3 .a5x3{
    background: #02ec50;
}.show-at5_4 .a5x4{
    background: #6cc261;
}
.at5_1, .at5_2, .at5_4 {
    display: none;
}

/* -- mes 6 -- */
.show-at6_1 .a6x1{
    background: #0050e6;
}.show-at6_2 .a6x2{
    background: #60a1f7;
}.show-at6_3 .a6x3{
    background: #02ec50;
}.show-at6_4 .a6x4{
    background: #6cc261;
}
.at6_1, .at6_2, .at6_4 {
    display: none;
}

/* -- mes 7 -- */
.show-at7_1 .a7x1{
    background: #0050e6;
}.show-at7_2 .a7x2{
    background: #60a1f7;
}.show-at7_3 .a7x3{
    background: #02ec50;
}.show-at7_4 .a7x4{
    background: #6cc261;
}
.at7_1, .at7_2, .at7_4 {
    display: none;
}

/* -- mes 8 -- */
.show-at8_1 .a8x1{
    background: #0050e6;
}.show-at8_2 .a8x2{
    background: #60a1f7;
}.show-at8_3 .a8x3{
    background: #02ec50;
}.show-at8_4 .a8x4{
    background: #6cc261;
}
.at8_1, .at8_2, .at8_4 {
    display: none;
}

/* -- mes 9 -- */
.show-at9_1 .a9x1{
    background: #0050e6;
}.show-at9_2 .a9x2{
    background: #60a1f7;
}.show-at9_3 .a9x3{
    background: #02ec50;
}.show-at9_4 .a9x4{
    background: #6cc261;
}
.at9_1, .at9_2, .at9_3, .at9_4{
    display: none;
}

/* -- mes 10 -- */
.show-at10_1 .a10x1{
    background: #0050e6;
}.show-at10_2 .a10x2{
    background: #60a1f7;
}.show-at10_3 .a10x3{
    background: #02ec50;
}.show-at10_4 .a10x4{
    background: #6cc261;
}
.at10_1, .at10_2, .at10_3, .at10_4{
    display: none;
}

/* -- mes 11 -- */
.show-at11_1 .a11x1{
    background: #0050e6;
}.show-at11_2 .a11x2{
    background: #60a1f7;
}.show-at11_3 .a11x3{
    background: #02ec50;
}.show-at11_4 .a11x4{
    background: #6cc261;
}
.at11_1, .at11_2, .at11_3, .at11_4{
    display: none;
}

/* -- mes 12 -- */
.show-at12_1 .a12x1{
    background: #0050e6;
}.show-at12_2 .a12x2{
    background: #60a1f7;
}.show-at12_3 .a12x3{
    background: #02ec50;
}.show-at12_4 .a12x4{
    background: #6cc261;
}
.at12_1, .at12_2, .at12_3, .at12_4{
    display: none;
}