
/* -- mes 1 -- */
.show-at1_1 .a1x1{
    background: #0050e6;
}.show-at1_2 .a1x2{
    background: #60a1f7;
}.show-at1_3 .a1x3{
    background: #02ec50;
}.show-at1_4 .a1x4{
    background: #6cc261;
}
. {
    display: none;
}