@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;0,700;1,700&display=swap');
*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    padding: 0%;
    border: none;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 100%;
}

/* ------- SECTION -------- */

section{
    width: 100%;
    display: flex;
    flex-direction: column;
}.section_top{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;    
}.section_top > div:nth-child(1){
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 90px 600px 200px 0;
    border-color: #4bd62194 transparent transparent transparent;
}.section_top > div:nth-child(2){
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 75px 600px 200px 0;
    border-color: #73da1f transparent transparent transparent;
}.section_top > div:nth-child(3){
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 600px 200px 0;
    border-color: #27b913 transparent transparent transparent;

}.section_top .logo{
    z-index: 10;
    width: 200px;
    max-height: 100%;
}.section_top .descriçãoMes{
    width: 150px;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}.section_top .mesData{
    padding-left: 0.5rem;
    font-size: 35px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}.section_top .Mees{
    border-bottom: solid  rgb(26, 211, 20) ;
    text-transform: uppercase;
}.section_top .relogio{
    width: 550px;
    height: 4.2rem;
    border-radius: 10px;
    border: solid 4px #08ee00;
    box-shadow: 1px 1px 4px #000;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}.reunião{
    width: 25%;
    color: #000000;
    background: transparent;
    display: flex;
    justify-content: center;
    text-align: center;
}.reunião i{
    font-size: 19px ;
    font-weight: 700;
}.reunião h1{
    font-size: 14px;
    font-weight: 400;
}.tempo{
    width: 80%;
    height: 100%;
}.dataDes{
    font-size: 12px ;
    color: #fff;
}

/* -- data --*/
.data{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}.contagemRegresiva{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}.contagemRegresiva li{
    background: #0000004f;
    border-radius: 10px;
    height: 95%;
    width: 4.5rem;
    display: flex;
    box-shadow: 1px 1px 3px #000000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}.contagemRegresiva span{
    font-size: 1.6rem;
    color: #fff;
}

/* -- fim-data -- */
.section_top .logo img{
    width: 120px;
}.calendario {
    width: 100%;
    height:110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 11;
}.semanas{
    width: 90%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-bottom: solid #000 1px;
    border-top: solid #000 1px;
}.diaSemana{
    width: 160px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-left: solid 1px #00000013;
    border-right: solid 1px #00000013;
}.diaMes{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: auto;
    justify-content: center;
}.contentbx{
    z-index: 10;
    position: absolute;
    top: 0px;
    width: 100%;
    background: #fff;
    height: 100%;
    cursor: pointer;
    transform: translateX(-200px);
    transition: 0.5s;
    margin: 0 auto;
}.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: 12px;
}.content p{
    margin-bottom: 3px;
    border-bottom: solid 1px #000;
}.dia:hover .contentbx {
    transform: translateX(0px);
}.dia {
    background: #fff;
    width: 160px;
    height: 7rem;
    margin: 5px auto;
    position: relative;
    border-radius: 5px;
    overflow:hidden;
    cursor: pointer;
    box-shadow: 3px 3px 2px rgb(58, 56, 56);
    
}.numero{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    align-items: center;
    text-shadow: 1px 1px 1px #6d6d6d;
}

/* ------ NAV ------ */
nav{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}.containerNav{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}.destaqueCor{
    width: 10%;
    height: 100%;
}.destaqueDescrição{
    padding-left: 9px;
    font-size: 12px;
}.destaqueDescrição span{
    font-size: 1.5rem;
}.destaqueDasCores{
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}.destaqueDasCores > div{
    height: 2.5rem;
    width: 320px;
    background: #ffffff85;
    margin: 5px 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 2px 2px 5px #000;
}.planta{
    width: 350px ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}.planta img{
    height: 100%;
}.QR{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
}

/* ------ MAIN ------ */    

main{
    width: 100%;
    height: 100vh;
    padding-top: 3rem;
}.fundoMain{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}.calendarioMain{
    width: 45%;
    height: 90%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: #ececec;
    overflow-x: scroll;
    position: relative;
    /*
    filtro de transparencia
    filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter:blur(4px);
    */
}.post::before{
    content:"";
    width: 2px;
    height: 100%;
    background: #30c20bc4;
    position: absolute;
    left: 0;
}.calendarioMain img{
    object-fit: cover;

}.proximosMeses{
    min-width: 350px;
    height: 80%;
    padding: 1rem;
    margin: 0 1rem;
    background: #fff;
    box-shadow: 2px 3px 7px #000;
}.proximosMeses h1{
    text-align: center;
}.proximosMeses h1 span{
    font-size: 15px;
}.MesAtual{
    text-align: center;
    height: 45%;
}.diasAtuais{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}.semanaAtual{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-top: groove #000 1px;
    border-bottom: groove #000 1px;
}.semanaAtual > div{
    margin: 5px;
    text-shadow: 1px 2px 5px #000;
}.diasAtuais > div{
    margin: 5px;
    box-shadow: 1px 2px 5px #000;
    cursor: pointer;
    border-radius: 5px;
}.atividade{
    display: flex;
    flex-direction: row;
    margin: 0.5rem 5px;
    box-shadow: 1px 1px 5px #000;
    cursor: pointer;
}.atividade > div:nth-child(2) {
    padding-left: 5px;
    font-size: 12px;
    min-height: 1.5rem;
}.corAtv{
    width: 2rem;
    max-height: 100%;
}.atividade span{
    color: #016f13;
}.post{
    width: 45%;
    height: 90%;
    position: relative;
    display: flex;
}.postBanner{
    text-align: center;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.255);

}.postImg{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
} .postImg img{
    width: auto;
    height: 100%;
    object-fit:cover;
}

/* ------ ARTICLE ------ */
article{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: flex-end;
}.article_fundo{
    width: 100%;
    height: 60%;
    background: url(../IMG/article_background.png) no-repeat center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}.articleImg{
    width: 40%;
    height: 100%;
    position: relative;
}.articleImg img{
    position: absolute;
    bottom: 0;
}.articleInfo{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}.articleInfo img{
    width: 150px;
    margin-bottom: 0.7rem;
}.articleInfo button{
    font-weight: 500;
    font-size: 18px;
}.articleInfo button{
    width: 170px;
    height: 2.5rem;
    border-radius: 15px;
    cursor: pointer;
    background: #fff;
    border: solid 2px #2cb34a;
    color: #2cb34a;
}

/* ------ FOOTER ------ */

footer{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
}.footerDescrição{
    width: 100%;
    height: 80%;
    background: #4d4d4d;
    display: flex;
    justify-content: space-around;
    align-items: center;
}.footerDescrição ul li{
    margin-top: 7px;
}.footerDescrição ul li:nth-child(1){
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
}.Eu{
    width: 100%;
    height: 20%;
    background: #222222;
    display: flex;
    justify-content: space-around;
    align-items: center;
}